<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://raw.githubusercontent.com/awaisrauf/GE2018/master/imgs/favicon.png">
  
  </head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:1px 16px">
  <h1 class="w3-xlarge">Prediction for Pakistan's General Election 2018</h1>
  
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
	<p>To know specific prediction, click following;</p>
      <a href="https://awaisrauf.github.io/GE2018" class="w3-bar-item w3-button">Pakistan</a>
      <a href="https://awaisrauf.github.io/GE2018/pages/punjab" class="w3-bar-item w3-button">Punjab</a>
      <a href="https://awaisrauf.github.io/GE2018/pages/sindh" class="w3-bar-item w3-button">Sindh</a>
      <a href="https://awaisrauf.github.io/GE2018/pages/kpk" class="w3-bar-item w3-button">KPK</a>
	  <a href="https://awaisrauf.github.io/GE2018/pages/balochistan" class="w3-bar-item w3-button">Baluchistan</a>
    </div>
  </div>
</header>

  {{ content }}

  
  <footer>
	<script language="Javascript">
		document.write("This page was last modified on: " + document.lastModified +"");
	</script>
  </footer>
  </body>

</html>
